{% macro card(id, device) -%}
<div class="bulb-card card shadow" id="bulbCard{{ id }}" data-id="{{ id }}">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0">{{ device.device_name }}</h5>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        id="powerSwitch{{ id }}"
      />
      <label class="form-check-label" for="powerSwitch{{ id }}">Power</label>
    </div>
  </div>
  <div class="card-body text-center">
    <div class="mb-3">
      <label for="brightnessSlider{{ id }}" class="form-label"
        >Brightness</label
        >
      <input
        type="range"
        class="form-range"
        min="0"
        max="100"
        id="brightnessSlider{{ id }}"
      />
    </div>
    <div class="mb-3">
      <label for="temperatureSlider{{ id }}" class="form-label"
        >Color Temperature</label
      >
      <input
        type="range"
        class="form-range"
        min="2000"
        max="9000"
        id="temperatureSlider{{ id }}"
      />
    </div>
    <div class="mb-3">
      <label for="redSlider{{ id }}" class="form-label">Red</label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="255"
        id="redSlider{{ id }}"
      />
    </div>
    <div class="mb-3">
      <label for="greenSlider{{ id }}" class="form-label">Green</label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="255"
        id="greenSlider{{ id }}"
      />
    </div>
    <div class="mb-3">
      <label for="blueSlider{{ id }}" class="form-label">Blue</label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="255"
        id="blueSlider{{ id }}"
      />
    </div>
    <div class="mb-3">
        <label for="replacemePreview">Preview</label>
        <div class="preview" id="colorPreview{{ id }}"></div>
    </div>
  </div>
  <div class="card-footer">
  </div>
  <script>
    (() => {
      // get bulb state
      let brightness = "{{ device.state['brightness'] }}"
      let mode = "{{ device.state['mode'] }}"
      let temperature = "{{ device.state['color_temp'] }}"
      let r = "{{ device.state['color']['r'] }}"
      let g = "{{ device.state['color']['g'] }}"
      let b = "{{ device.state['color']['b'] }}"
          
      // initialize card values from lights states
      document.getElementById("powerSwitch{{ id }}").checked = "{{ device.state['power_state'] }}" == "on"
      document.getElementById("brightnessSlider{{ id }}").value = brightness
      document.getElementById("temperatureSlider{{ id }}").value = temperature
      document.getElementById("redSlider{{ id }}").value = r
      document.getElementById("greenSlider{{ id }}").value = g
      document.getElementById("blueSlider{{ id }}").value = b
          
      // set color preview
      let preview = document.getElementById("colorPreview{{ id }}")
      if(mode == 'temp'){
        [r, g, b] = kelvinToRGB(temperature)
      }
      preview.style.backgroundColor = `rgb(${r}, ${g}, ${b})`
    })()
  </script>
</div>
{%- endmacro %}